*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-image: linear-gradient(to bottom right,rgb(255, 255, 255),rgb(192, 254, 255));
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(33, 33, 33, 0.56),rgba(24, 24, 24, 0.56)),url(images/back2.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 50px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    /* inline block is used to display it horizontally */
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #3feee8;
    display: block;
    margin: auto;
    transition: 0.45s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text_box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text_box h1{ 
    font-size: 62px;
}
.text_box p{
    margin: 10px 0 40px;
    font-size: 19px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    border-radius: 16px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border:1px solid #f4f6f6;
    background: #38d9db;
    transition: 0.5s;
}
nav.fa{
    display: none;
}

/* mtb, types of bike, road races */
.bike{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 40px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.bike-col{
    flex-basis: 31%;
    background-image:linear-gradient(rgba(182, 232, 243, 0.992),rgba(221, 243, 247, 0.961));
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.bike-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}

/* competetive cycling */
.cycling{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
.cycling p{
    line-height: 31px;
    padding: 40px;
}
.cycling h1{
    font-size: 36px;
    font-weight: 600;
}
.cycling-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.cycling-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(2, 75, 81, 0.532);
}
/* might delete later */
.layer h3{
    width:100%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity:0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity:100;
}
/* manufacturers */
.make{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
.make h1{ 
    font-size: 36px;
    font-weight: 600;
}
.make p{
    line-height: 20px;
    padding: 40px;
}
.make-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.make-col img{
    width:100%;
    border-radius:10px;
}
.make-col p{
    padding:0;
}
.make-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* call to action */
.cta{
    margin:100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.321),rgba(0,0,0,0.7)),url(images/back\ gravel.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color:#fff;
    margin-bottom: 40x;
    padding: 0;
}
/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
/* about us page */
.sub-header{
    height: 67vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(31, 31, 31, 0.205)),url(images/scottmtb.JPG);
    background-size: cover;
    text-align: center;
    color: #fff;
}
.histheader{
    height: 67vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(31, 31, 31, 0.205)),url(images/bannerroad.JPG);
    background-size: cover;
    text-align: center;
    color: #fff;
}
.histheader h1{
    margin-top: 100px;
}
.subheader{
    height: 67vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(31, 31, 31, 0.205)),url(images/roadbanner.JPG);
    background-size: cover;
    text-align: center;
    color: #fff;

}
.contheader{
    height: 67vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(31, 31, 31, 0.205)),url(images/gravelcannon.JPG);
    background-size: cover;
    text-align: center;
    color: #fff;
}
.contheader h1{
    margin-top: 100px;
}
.subheader h1{
    margin-top: 100px;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top:80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding:30px 2px;
}
.about-col img{
    width:100%;
}
.about-col h1{
    padding-top: 0%;
}
.about-col p{
    padding:15px 0 25px;
}
.red-btn{
    border:1px solid #36f1f4;
    background: transparent;
    color: #36f4f1;
}
.red-btn:hover{
    color:#fff;
}
/* history */
.history-content{
    width: 80%;
    margin: auto;
    padding:60px 0;
}
.history-left{
    flex-basis: 65%;
}
.history-left img{
    display: block;
    border-radius: 15px;
    width:100%;
}
.history-left h2{
    color:#222;
    font-weight: 600;
    font-size: 36px;
    margin: 30px 0;
}
.history-left p{
    color:#999;
    padding:0;
}
.history-right{
    flex-basis:32%;
}
.history-right h3{
    background: #36e7f4;
    color:#fff;
    padding:17px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.history-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.history-right thead th{
    padding: 15px;
    border-radius: 15px;
	background-color: #7ec2cd;
    border-radius: 15px 50px 30px;
	font-size: large;
}
.history-right th,.history-right td{
    padding: 10px;
	border-style: none;
}
.history-right td{
    text-align: left;
    color: #363636;
}
.history-right tbody th{
    text-align: left;
	font-weight: normal;
}

.comment-box{
    border:1px solid #021359;
    margin:50px 0;
    border-radius: 19px;
    padding:10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width:100%;
    padding:10px;
    border-radius: 16px;
    margin:15px 0;
    box-sizing: border-box;
    border:none;
    outline:none;
    background: #b9f3f9;
}
.comment-form button{
    margin:10px 0;
}
/* contact us */
.contact-us{
    width:80%;
    margin: auto;
}
.contact-col h1{
    font-size: 30px;
    padding: 30px;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display:flex;
    align-items:center;
    margin-bottom:40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #54f0f9;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    font-size: 15px;
    padding:0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width:100%;
    padding:15px;
    margin-bottom: 17px;
    border-radius: 16px;
    outline:none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



































